<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <th:block th:fragment="head-properties">
        <meta charset="UTF-8">
        <!--    BOOTSTRAP-->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script defer th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.css}"></script>
    </th:block>
    <title>Best of the year</title>
</head>

<body>

<nav class="navbar bg-body-tertiary" th:fragment="navbar">

    <div class="container">
        <a class="navbar-brand text-danger" href="#">
            BEST OF THE YEAR...
        </a>
    </div>
</nav>

<main>
<h1 th:text="'Best of the year by ' + ${title}"></h1>

</main>

</body>
</html>